@charset "utf-8";

body {
    margin: 0;
}

/* 4枚の画像に変化する背景 */
.bg-img {
  background-image: url("images/bg1.jpg");
  background-size: cover;
  animation: change-image 15s infinite;
  height: 80vh;
}
@keyframes change-image {
  0%, 100% { background-image: url("images/bg1.jpg"); }
  25% { background-image: url("images/bg2.jpg"); }
  50% { background-image: url("images/bg3.jpg"); }
  75% { background-image: url("images/bg4.jpg"); }
}

/* 時刻に応じた背景切り替え */
.bg-time {
  background-size: cover;
  height: 80vh;
}
.morning {
  background-image: url("images/morning.jpg");
}
.daytime {
  background-image: url("images/daytime.jpg");
}
.night {
  background-image: url("images/night.jpg");
}

/* 基本スタイル */
h2 {
  background-color: #000;
  display: inline-block;
  padding: 1rem;
  color: #fff;
}